<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>efx_blood3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-72,-19}</string>
                <key>spriteSize</key>
                <string>{30,24}</string>
                <key>spriteSourceSize</key>
                <string>{184,124}</string>
                <key>textureRect</key>
                <string>{{1,987},{30,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>efx_blood3_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,2}</string>
                <key>spriteSize</key>
                <string>{110,94}</string>
                <key>spriteSourceSize</key>
                <string>{184,124}</string>
                <key>textureRect</key>
                <string>{{1,661},{110,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>efx_blood3_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,8}</string>
                <key>spriteSize</key>
                <string>{126,98}</string>
                <key>spriteSourceSize</key>
                <string>{184,124}</string>
                <key>textureRect</key>
                <string>{{1,161},{126,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>efx_blood3_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,4}</string>
                <key>spriteSize</key>
                <string>{116,98}</string>
                <key>spriteSourceSize</key>
                <string>{184,124}</string>
                <key>textureRect</key>
                <string>{{1,369},{116,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>efx_blood3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-15}</string>
                <key>spriteSize</key>
                <string>{108,36}</string>
                <key>spriteSourceSize</key>
                <string>{184,124}</string>
                <key>textureRect</key>
                <string>{{129,259},{108,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>efx_blood3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-15}</string>
                <key>spriteSize</key>
                <string>{130,68}</string>
                <key>spriteSourceSize</key>
                <string>{184,124}</string>
                <key>textureRect</key>
                <string>{{1,855},{130,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>efx_blood3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-5}</string>
                <key>spriteSize</key>
                <string>{156,76}</string>
                <key>spriteSourceSize</key>
                <string>{184,124}</string>
                <key>textureRect</key>
                <string>{{1,83},{156,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>efx_blood3_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-9}</string>
                <key>spriteSize</key>
                <string>{174,80}</string>
                <key>spriteSourceSize</key>
                <string>{184,124}</string>
                <key>textureRect</key>
                <string>{{1,1},{174,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>efx_blood3_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-11}</string>
                <key>spriteSize</key>
                <string>{162,88}</string>
                <key>spriteSourceSize</key>
                <string>{184,124}</string>
                <key>textureRect</key>
                <string>{{177,1},{162,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>efx_blood3_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-4}</string>
                <key>spriteSize</key>
                <string>{112,82}</string>
                <key>spriteSourceSize</key>
                <string>{184,124}</string>
                <key>textureRect</key>
                <string>{{159,91},{112,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>efx_blood3_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,0}</string>
                <key>spriteSize</key>
                <string>{108,82}</string>
                <key>spriteSourceSize</key>
                <string>{184,124}</string>
                <key>textureRect</key>
                <string>{{129,175},{108,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>efx_blood3_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,0}</string>
                <key>spriteSize</key>
                <string>{98,86}</string>
                <key>spriteSourceSize</key>
                <string>{184,124}</string>
                <key>textureRect</key>
                <string>{{113,661},{98,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>efx_blood4_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,10}</string>
                <key>spriteSize</key>
                <string>{32,30}</string>
                <key>spriteSourceSize</key>
                <string>{168,140}</string>
                <key>textureRect</key>
                <string>{{287,865},{32,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>efx_blood4_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-22}</string>
                <key>spriteSize</key>
                <string>{92,78}</string>
                <key>spriteSourceSize</key>
                <string>{168,140}</string>
                <key>textureRect</key>
                <string>{{107,761},{92,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>efx_blood4_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,12}</string>
                <key>spriteSize</key>
                <string>{70,78}</string>
                <key>spriteSourceSize</key>
                <string>{168,140}</string>
                <key>textureRect</key>
                <string>{{267,659},{70,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>efx_blood4_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,5}</string>
                <key>spriteSize</key>
                <string>{104,96}</string>
                <key>spriteSourceSize</key>
                <string>{168,140}</string>
                <key>textureRect</key>
                <string>{{1,757},{104,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>efx_blood4_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,5}</string>
                <key>spriteSize</key>
                <string>{90,96}</string>
                <key>spriteSourceSize</key>
                <string>{168,140}</string>
                <key>textureRect</key>
                <string>{{115,563},{90,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>efx_blood4_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{98,92}</string>
                <key>spriteSourceSize</key>
                <string>{168,140}</string>
                <key>textureRect</key>
                <string>{{115,469},{98,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>efx_blood4_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-2}</string>
                <key>spriteSize</key>
                <string>{116,106}</string>
                <key>spriteSourceSize</key>
                <string>{168,140}</string>
                <key>textureRect</key>
                <string>{{1,261},{116,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>efx_blood4_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-6}</string>
                <key>spriteSize</key>
                <string>{112,94}</string>
                <key>spriteSourceSize</key>
                <string>{168,140}</string>
                <key>textureRect</key>
                <string>{{1,469},{112,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>efx_blood4_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-6}</string>
                <key>spriteSize</key>
                <string>{112,94}</string>
                <key>spriteSourceSize</key>
                <string>{168,140}</string>
                <key>textureRect</key>
                <string>{{1,565},{112,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>efx_blood4_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-16}</string>
                <key>spriteSize</key>
                <string>{106,78}</string>
                <key>spriteSourceSize</key>
                <string>{168,140}</string>
                <key>textureRect</key>
                <string>{{119,389},{106,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>efx_blood_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,6}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{136,132}</string>
                <key>textureRect</key>
                <string>{{287,897},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>efx_blood_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{104,84}</string>
                <key>spriteSourceSize</key>
                <string>{136,132}</string>
                <key>textureRect</key>
                <string>{{227,321},{104,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>efx_blood_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{100,68}</string>
                <key>spriteSourceSize</key>
                <string>{136,132}</string>
                <key>textureRect</key>
                <string>{{239,251},{100,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>efx_blood_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,14}</string>
                <key>spriteSize</key>
                <string>{100,74}</string>
                <key>spriteSourceSize</key>
                <string>{136,132}</string>
                <key>textureRect</key>
                <string>{{239,175},{100,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>efx_blood_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,25}</string>
                <key>spriteSize</key>
                <string>{84,64}</string>
                <key>spriteSourceSize</key>
                <string>{136,132}</string>
                <key>textureRect</key>
                <string>{{221,841},{84,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>efx_blood_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,31}</string>
                <key>spriteSize</key>
                <string>{88,64}</string>
                <key>spriteSourceSize</key>
                <string>{136,132}</string>
                <key>textureRect</key>
                <string>{{201,661},{88,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>efx_blood_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,33}</string>
                <key>spriteSize</key>
                <string>{76,64}</string>
                <key>spriteSourceSize</key>
                <string>{136,132}</string>
                <key>textureRect</key>
                <string>{{263,751},{76,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>efx_blood_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,33}</string>
                <key>spriteSize</key>
                <string>{88,60}</string>
                <key>spriteSourceSize</key>
                <string>{136,132}</string>
                <key>textureRect</key>
                <string>{{201,751},{88,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>efx_blood_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,30}</string>
                <key>spriteSize</key>
                <string>{92,62}</string>
                <key>spriteSourceSize</key>
                <string>{136,132}</string>
                <key>textureRect</key>
                <string>{{71,953},{92,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>efx_blood_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,23}</string>
                <key>spriteSize</key>
                <string>{92,68}</string>
                <key>spriteSourceSize</key>
                <string>{136,132}</string>
                <key>textureRect</key>
                <string>{{151,841},{92,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>efx_blood_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,3}</string>
                <key>spriteSize</key>
                <string>{82,44}</string>
                <key>spriteSourceSize</key>
                <string>{136,132}</string>
                <key>textureRect</key>
                <string>{{257,613},{82,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>efx_blood_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,24}</string>
                <key>spriteSize</key>
                <string>{52,46}</string>
                <key>spriteSourceSize</key>
                <string>{136,132}</string>
                <key>textureRect</key>
                <string>{{287,817},{52,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>efx_blood_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-3}</string>
                <key>spriteSize</key>
                <string>{76,48}</string>
                <key>spriteSourceSize</key>
                <string>{136,132}</string>
                <key>textureRect</key>
                <string>{{207,563},{76,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>efx_blood_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,30}</string>
                <key>spriteSize</key>
                <string>{66,58}</string>
                <key>spriteSourceSize</key>
                <string>{136,132}</string>
                <key>textureRect</key>
                <string>{{273,91},{66,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>efx_blood_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,33}</string>
                <key>spriteSize</key>
                <string>{82,64}</string>
                <key>spriteSourceSize</key>
                <string>{136,132}</string>
                <key>textureRect</key>
                <string>{{257,547},{82,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>efx_blood_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,25}</string>
                <key>spriteSize</key>
                <string>{90,80}</string>
                <key>spriteSourceSize</key>
                <string>{136,132}</string>
                <key>textureRect</key>
                <string>{{165,935},{90,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>efx_blood_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,14}</string>
                <key>spriteSize</key>
                <string>{96,78}</string>
                <key>spriteSourceSize</key>
                <string>{136,132}</string>
                <key>textureRect</key>
                <string>{{71,855},{96,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>efx_blood_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,12}</string>
                <key>spriteSize</key>
                <string>{106,90}</string>
                <key>spriteSourceSize</key>
                <string>{136,132}</string>
                <key>textureRect</key>
                <string>{{119,297},{106,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>efx_blood_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,19}</string>
                <key>spriteSize</key>
                <string>{102,60}</string>
                <key>spriteSourceSize</key>
                <string>{136,132}</string>
                <key>textureRect</key>
                <string>{{227,407},{102,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>efx_blood_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,7}</string>
                <key>spriteSize</key>
                <string>{102,76}</string>
                <key>spriteSourceSize</key>
                <string>{136,132}</string>
                <key>textureRect</key>
                <string>{{215,469},{102,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>blood_fx.png</string>
            <key>size</key>
            <string>{340,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eac69798f659349d510334549aa57e21:e0162241f9ceba84da0092615c68b4c0:75288c0ea0895eac3230ff681c7ebada$</string>
            <key>textureFileName</key>
            <string>blood_fx.png</string>
        </dict>
    </dict>
</plist>
