<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_soul_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{14,18}</string>
                <key>spriteSourceSize</key>
                <string>{20,24}</string>
                <key>textureRect</key>
                <string>{{285,375},{14,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_soul_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{14,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,24}</string>
                <key>textureRect</key>
                <string>{{955,415},{14,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_soul_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{14,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,24}</string>
                <key>textureRect</key>
                <string>{{601,221},{14,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_soul_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{14,18}</string>
                <key>spriteSourceSize</key>
                <string>{20,24}</string>
                <key>textureRect</key>
                <string>{{285,395},{14,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_soul_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{14,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,24}</string>
                <key>textureRect</key>
                <string>{{285,309},{14,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_soul_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{14,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,24}</string>
                <key>textureRect</key>
                <string>{{871,237},{14,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_soul_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{14,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,24}</string>
                <key>textureRect</key>
                <string>{{285,331},{14,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_soul_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{14,22}</string>
                <key>spriteSourceSize</key>
                <string>{20,24}</string>
                <key>textureRect</key>
                <string>{{871,221},{14,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_soul_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{14,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,24}</string>
                <key>textureRect</key>
                <string>{{285,353},{14,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_soul_g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-1}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{116,104}</string>
                <key>textureRect</key>
                <string>{{201,309},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_bomb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{913,431},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_bomb_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,1}</string>
                <key>spriteSize</key>
                <string>{286,248}</string>
                <key>spriteSourceSize</key>
                <string>{340,276}</string>
                <key>textureRect</key>
                <string>{{313,1},{286,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_bomb_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{304,228}</string>
                <key>spriteSourceSize</key>
                <string>{340,276}</string>
                <key>textureRect</key>
                <string>{{313,251},{304,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_bomb_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-2}</string>
                <key>spriteSize</key>
                <string>{258,250}</string>
                <key>spriteSourceSize</key>
                <string>{340,276}</string>
                <key>textureRect</key>
                <string>{{619,221},{258,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_bomb_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,18}</string>
                <key>spriteSize</key>
                <string>{292,218}</string>
                <key>spriteSourceSize</key>
                <string>{340,276}</string>
                <key>textureRect</key>
                <string>{{601,1},{292,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_bomb_g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{96,104}</string>
                <key>textureRect</key>
                <string>{{895,95},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_getsoul.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,15}</string>
                <key>spriteSourceSize</key>
                <string>{9,15}</string>
                <key>textureRect</key>
                <string>{{1,469},{7,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_getsoul2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{5,8}</string>
                <key>spriteSourceSize</key>
                <string>{11,10}</string>
                <key>textureRect</key>
                <string>{{871,471},{5,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_power.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,36}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{955,343},{32,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_power_g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{201,393},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_pull.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{951,431},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_pull_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{310,306}</string>
                <key>spriteSourceSize</key>
                <string>{336,336}</string>
                <key>textureRect</key>
                <string>{{1,1},{310,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_pull_g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{108,116}</string>
                <key>textureRect</key>
                <string>{{895,1},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_score.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{40,38}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{871,431},{40,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_score_g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{96,100}</string>
                <key>textureRect</key>
                <string>{{895,179},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_sheild.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{30,32}</string>
                <key>spriteSourceSize</key>
                <string>{36,40}</string>
                <key>textureRect</key>
                <string>{{955,381},{30,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_sheild_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-3}</string>
                <key>spriteSize</key>
                <string>{158,198}</string>
                <key>spriteSourceSize</key>
                <string>{204,220}</string>
                <key>textureRect</key>
                <string>{{1,309},{158,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_sheild_g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{96,100}</string>
                <key>textureRect</key>
                <string>{{871,263},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_time.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,32}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{955,301},{40,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_time_g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{201,309},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_zombie.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{34,36}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{955,263},{34,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_zombie_g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{96,100}</string>
                <key>textureRect</key>
                <string>{{871,347},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>item.png</string>
            <key>size</key>
            <string>{990,480}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb6543d991db80c0c2cb6305a90bcd7f:f090e862bd75574ca5c2e15b8ac5beac:59939a4a587d378f0fcbb69f55d845d5$</string>
            <key>textureFileName</key>
            <string>item.png</string>
        </dict>
    </dict>
</plist>
