<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ba_img_direction.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,18}</string>
                <key>spriteSourceSize</key>
                <string>{22,18}</string>
                <key>textureRect</key>
                <string>{{165,137},{22,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>efx_p_swordkee_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,6}</string>
                <key>spriteSize</key>
                <string>{28,338}</string>
                <key>spriteSourceSize</key>
                <string>{56,350}</string>
                <key>textureRect</key>
                <string>{{387,101},{28,338}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1_att_d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,64}</string>
                <key>spriteSourceSize</key>
                <string>{36,64}</string>
                <key>textureRect</key>
                <string>{{853,121},{36,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_att_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,50}</string>
                <key>spriteSourceSize</key>
                <string>{98,50}</string>
                <key>textureRect</key>
                <string>{{339,133},{98,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1_att_u.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,80}</string>
                <key>spriteSourceSize</key>
                <string>{38,80}</string>
                <key>textureRect</key>
                <string>{{433,131},{38,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_attack_22_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,58}</string>
                <key>spriteSourceSize</key>
                <string>{76,58}</string>
                <key>textureRect</key>
                <string>{{511,131},{76,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1_attack_22_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,64}</string>
                <key>spriteSourceSize</key>
                <string>{82,64}</string>
                <key>textureRect</key>
                <string>{{595,1},{82,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1_attack_45_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,58}</string>
                <key>textureRect</key>
                <string>{{859,1},{64,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1_attack_45_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,80}</string>
                <key>spriteSourceSize</key>
                <string>{68,80}</string>
                <key>textureRect</key>
                <string>{{661,1},{68,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_attack_66_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,66}</string>
                <key>spriteSourceSize</key>
                <string>{44,66}</string>
                <key>textureRect</key>
                <string>{{553,209},{44,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1_attack_66_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,90}</string>
                <key>spriteSourceSize</key>
                <string>{50,90}</string>
                <key>textureRect</key>
                <string>{{473,1},{50,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_attack_d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,64}</string>
                <key>spriteSourceSize</key>
                <string>{36,64}</string>
                <key>textureRect</key>
                <string>{{873,187},{36,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_attack_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,58}</string>
                <key>spriteSourceSize</key>
                <string>{98,58}</string>
                <key>textureRect</key>
                <string>{{279,133},{98,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1_attack_u.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,88}</string>
                <key>spriteSourceSize</key>
                <string>{36,88}</string>
                <key>textureRect</key>
                <string>{{1,165},{36,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_dead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,64}</string>
                <key>spriteSourceSize</key>
                <string>{48,64}</string>
                <key>textureRect</key>
                <string>{{803,121},{48,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_dead2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,28}</string>
                <key>spriteSourceSize</key>
                <string>{64,28}</string>
                <key>textureRect</key>
                <string>{{919,1},{64,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1_dead3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,48}</string>
                <key>spriteSourceSize</key>
                <string>{60,48}</string>
                <key>textureRect</key>
                <string>{{863,67},{60,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_drop_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,19}</string>
                <key>spriteSourceSize</key>
                <string>{66,19}</string>
                <key>textureRect</key>
                <string>{{279,233},{66,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_drop_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,44}</string>
                <key>spriteSourceSize</key>
                <string>{2,44}</string>
                <key>textureRect</key>
                <string>{{211,245},{2,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1_drop_ring.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,22}</string>
                <key>spriteSourceSize</key>
                <string>{100,22}</string>
                <key>textureRect</key>
                <string>{{245,109},{100,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_light_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,162}</string>
                <key>spriteSourceSize</key>
                <string>{162,162}</string>
                <key>textureRect</key>
                <string>{{1,1},{162,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_rage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,64}</string>
                <key>spriteSourceSize</key>
                <string>{44,64}</string>
                <key>textureRect</key>
                <string>{{689,207},{44,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1_rest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,64}</string>
                <key>spriteSourceSize</key>
                <string>{48,64}</string>
                <key>textureRect</key>
                <string>{{823,187},{48,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_revive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,96}</string>
                <key>spriteSourceSize</key>
                <string>{40,96}</string>
                <key>textureRect</key>
                <string>{{431,1},{40,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_run_d_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,62}</string>
                <key>spriteSourceSize</key>
                <string>{36,62}</string>
                <key>textureRect</key>
                <string>{{953,93},{36,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1_run_d_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,60}</string>
                <key>spriteSourceSize</key>
                <string>{38,60}</string>
                <key>textureRect</key>
                <string>{{953,169},{38,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1_run_d_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,62}</string>
                <key>spriteSourceSize</key>
                <string>{40,62}</string>
                <key>textureRect</key>
                <string>{{911,181},{40,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_run_d_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,62}</string>
                <key>spriteSourceSize</key>
                <string>{42,62}</string>
                <key>textureRect</key>
                <string>{{891,117},{42,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_run_d_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,58}</string>
                <key>spriteSourceSize</key>
                <string>{38,58}</string>
                <key>textureRect</key>
                <string>{{953,209},{38,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1_run_d_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,62}</string>
                <key>spriteSourceSize</key>
                <string>{36,62}</string>
                <key>textureRect</key>
                <string>{{953,131},{36,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1_run_r_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-7}</string>
                <key>spriteSize</key>
                <string>{60,64}</string>
                <key>spriteSourceSize</key>
                <string>{120,80}</string>
                <key>textureRect</key>
                <string>{{797,1},{60,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_run_r_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-3}</string>
                <key>spriteSize</key>
                <string>{74,60}</string>
                <key>spriteSourceSize</key>
                <string>{120,80}</string>
                <key>textureRect</key>
                <string>{{613,131},{74,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1_run_r_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-6}</string>
                <key>spriteSize</key>
                <string>{64,68}</string>
                <key>spriteSourceSize</key>
                <string>{120,80}</string>
                <key>textureRect</key>
                <string>{{731,1},{64,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_run_r_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-7}</string>
                <key>spriteSize</key>
                <string>{70,64}</string>
                <key>spriteSourceSize</key>
                <string>{120,80}</string>
                <key>textureRect</key>
                <string>{{737,129},{70,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1_run_r_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-3}</string>
                <key>spriteSize</key>
                <string>{74,60}</string>
                <key>spriteSourceSize</key>
                <string>{120,80}</string>
                <key>textureRect</key>
                <string>{{675,131},{74,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1_run_r_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-6}</string>
                <key>spriteSize</key>
                <string>{84,68}</string>
                <key>spriteSourceSize</key>
                <string>{120,80}</string>
                <key>textureRect</key>
                <string>{{525,1},{84,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1_run_u_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,66}</string>
                <key>spriteSourceSize</key>
                <string>{44,66}</string>
                <key>textureRect</key>
                <string>{{621,207},{44,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1_run_u_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,62}</string>
                <key>spriteSourceSize</key>
                <string>{44,62}</string>
                <key>textureRect</key>
                <string>{{949,1},{44,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1_run_u_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,66}</string>
                <key>spriteSourceSize</key>
                <string>{48,66}</string>
                <key>textureRect</key>
                <string>{{755,201},{48,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1_run_u_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,66}</string>
                <key>spriteSourceSize</key>
                <string>{48,66}</string>
                <key>textureRect</key>
                <string>{{795,71},{48,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1_run_u_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,62}</string>
                <key>spriteSourceSize</key>
                <string>{44,62}</string>
                <key>textureRect</key>
                <string>{{949,47},{44,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1_run_u_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,66}</string>
                <key>spriteSourceSize</key>
                <string>{44,66}</string>
                <key>textureRect</key>
                <string>{{727,83},{44,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1_stand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,80}</string>
                <key>spriteSourceSize</key>
                <string>{40,80}</string>
                <key>textureRect</key>
                <string>{{391,131},{40,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_stand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,78}</string>
                <key>spriteSourceSize</key>
                <string>{40,78}</string>
                <key>textureRect</key>
                <string>{{473,213},{40,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1_stand_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,76}</string>
                <key>spriteSourceSize</key>
                <string>{40,76}</string>
                <key>textureRect</key>
                <string>{{571,131},{40,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_stand_d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,80}</string>
                <key>spriteSourceSize</key>
                <string>{40,80}</string>
                <key>textureRect</key>
                <string>{{391,131},{40,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_stand_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,80}</string>
                <key>spriteSourceSize</key>
                <string>{36,80}</string>
                <key>textureRect</key>
                <string>{{473,131},{36,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_stand_u.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,80}</string>
                <key>spriteSourceSize</key>
                <string>{40,80}</string>
                <key>textureRect</key>
                <string>{{391,213},{40,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1_start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,104}</string>
                <key>spriteSourceSize</key>
                <string>{40,104}</string>
                <key>textureRect</key>
                <string>{{345,1},{40,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_start0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,116}</string>
                <key>spriteSourceSize</key>
                <string>{24,116}</string>
                <key>textureRect</key>
                <string>{{185,137},{24,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_start1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-16}</string>
                <key>spriteSize</key>
                <string>{42,98}</string>
                <key>spriteSourceSize</key>
                <string>{86,144}</string>
                <key>textureRect</key>
                <string>{{387,1},{42,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_start2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-19}</string>
                <key>spriteSize</key>
                <string>{54,106}</string>
                <key>spriteSourceSize</key>
                <string>{86,144}</string>
                <key>textureRect</key>
                <string>{{245,1},{54,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_start3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-19}</string>
                <key>spriteSize</key>
                <string>{66,106}</string>
                <key>spriteSourceSize</key>
                <string>{86,144}</string>
                <key>textureRect</key>
                <string>{{211,137},{66,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_start4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-5}</string>
                <key>spriteSize</key>
                <string>{78,134}</string>
                <key>spriteSourceSize</key>
                <string>{86,144}</string>
                <key>textureRect</key>
                <string>{{165,1},{78,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_start5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,144}</string>
                <key>spriteSourceSize</key>
                <string>{86,144}</string>
                <key>textureRect</key>
                <string>{{39,165},{86,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1_start6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-19}</string>
                <key>spriteSize</key>
                <string>{42,106}</string>
                <key>spriteSourceSize</key>
                <string>{86,144}</string>
                <key>textureRect</key>
                <string>{{301,1},{42,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>player.png</string>
            <key>size</key>
            <string>{1016,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:971f213fe131f2eceb889bcbf0b1443e:13a0f553c44960c22aa38742153d2a12:6f6c59c3c6b7e98e5fb22e47122cb74a$</string>
            <key>textureFileName</key>
            <string>player.png</string>
        </dict>
    </dict>
</plist>
