<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack_45_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,64}</string>
                <key>spriteSourceSize</key>
                <string>{36,64}</string>
                <key>textureRect</key>
                <string>{{915,109},{36,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_45_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,80}</string>
                <key>spriteSourceSize</key>
                <string>{58,80}</string>
                <key>textureRect</key>
                <string>{{363,109},{58,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,64}</string>
                <key>spriteSourceSize</key>
                <string>{36,64}</string>
                <key>textureRect</key>
                <string>{{915,175},{36,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,58}</string>
                <key>spriteSourceSize</key>
                <string>{94,58}</string>
                <key>textureRect</key>
                <string>{{667,1},{94,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,88}</string>
                <key>spriteSourceSize</key>
                <string>{38,88}</string>
                <key>textureRect</key>
                <string>{{763,53},{38,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ba_img_direction.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,18}</string>
                <key>spriteSourceSize</key>
                <string>{22,18}</string>
                <key>textureRect</key>
                <string>{{343,137},{22,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>death.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,64}</string>
                <key>spriteSourceSize</key>
                <string>{48,64}</string>
                <key>textureRect</key>
                <string>{{697,61},{48,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>efx_p_swordkee_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,6}</string>
                <key>spriteSize</key>
                <string>{28,338}</string>
                <key>spriteSourceSize</key>
                <string>{56,350}</string>
                <key>textureRect</key>
                <string>{{1,1},{28,338}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1_att_d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,64}</string>
                <key>spriteSourceSize</key>
                <string>{36,64}</string>
                <key>textureRect</key>
                <string>{{453,167},{36,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_att_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,50}</string>
                <key>spriteSourceSize</key>
                <string>{98,50}</string>
                <key>textureRect</key>
                <string>{{763,1},{98,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_att_u.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,80}</string>
                <key>spriteSourceSize</key>
                <string>{38,80}</string>
                <key>textureRect</key>
                <string>{{853,69},{38,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1_attack_22_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,58}</string>
                <key>spriteSourceSize</key>
                <string>{76,58}</string>
                <key>textureRect</key>
                <string>{{529,103},{76,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_attack_22_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,64}</string>
                <key>spriteSourceSize</key>
                <string>{82,64}</string>
                <key>textureRect</key>
                <string>{{445,101},{82,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_attack_45_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,58}</string>
                <key>textureRect</key>
                <string>{{597,163},{64,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_attack_45_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,80}</string>
                <key>spriteSourceSize</key>
                <string>{68,80}</string>
                <key>textureRect</key>
                <string>{{363,27},{68,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_attack_66_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,66}</string>
                <key>spriteSourceSize</key>
                <string>{44,66}</string>
                <key>textureRect</key>
                <string>{{953,109},{44,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_attack_66_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,90}</string>
                <key>spriteSourceSize</key>
                <string>{50,90}</string>
                <key>textureRect</key>
                <string>{{221,177},{50,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_attack_d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,64}</string>
                <key>spriteSourceSize</key>
                <string>{36,64}</string>
                <key>textureRect</key>
                <string>{{915,109},{36,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_attack_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,58}</string>
                <key>spriteSourceSize</key>
                <string>{98,58}</string>
                <key>textureRect</key>
                <string>{{567,1},{98,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_attack_u.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,88}</string>
                <key>spriteSourceSize</key>
                <string>{36,88}</string>
                <key>textureRect</key>
                <string>{{253,139},{36,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1_dead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,64}</string>
                <key>spriteSourceSize</key>
                <string>{48,64}</string>
                <key>textureRect</key>
                <string>{{799,173},{48,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1_dead2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,28}</string>
                <key>spriteSourceSize</key>
                <string>{64,28}</string>
                <key>textureRect</key>
                <string>{{883,241},{64,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_dead3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,48}</string>
                <key>spriteSourceSize</key>
                <string>{60,48}</string>
                <key>textureRect</key>
                <string>{{865,173},{60,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1_drop_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,19}</string>
                <key>spriteSourceSize</key>
                <string>{66,19}</string>
                <key>textureRect</key>
                <string>{{971,1},{66,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1_drop_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,44}</string>
                <key>spriteSourceSize</key>
                <string>{2,44}</string>
                <key>textureRect</key>
                <string>{{819,223},{2,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1_drop_ring.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,22}</string>
                <key>spriteSourceSize</key>
                <string>{100,22}</string>
                <key>textureRect</key>
                <string>{{863,45},{100,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_light_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,162}</string>
                <key>spriteSourceSize</key>
                <string>{162,162}</string>
                <key>textureRect</key>
                <string>{{1,31},{162,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_rage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,64}</string>
                <key>spriteSourceSize</key>
                <string>{44,64}</string>
                <key>textureRect</key>
                <string>{{953,177},{44,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_rest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,64}</string>
                <key>spriteSourceSize</key>
                <string>{48,64}</string>
                <key>textureRect</key>
                <string>{{343,169},{48,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_revive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,96}</string>
                <key>spriteSourceSize</key>
                <string>{40,96}</string>
                <key>textureRect</key>
                <string>{{179,177},{40,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_run_d_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,62}</string>
                <key>spriteSourceSize</key>
                <string>{36,62}</string>
                <key>textureRect</key>
                <string>{{491,167},{36,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_run_d_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,60}</string>
                <key>spriteSourceSize</key>
                <string>{38,60}</string>
                <key>textureRect</key>
                <string>{{935,69},{38,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1_run_d_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,62}</string>
                <key>spriteSourceSize</key>
                <string>{40,62}</string>
                <key>textureRect</key>
                <string>{{401,233},{40,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1_run_d_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,62}</string>
                <key>spriteSourceSize</key>
                <string>{42,62}</string>
                <key>textureRect</key>
                <string>{{491,231},{42,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1_run_d_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,58}</string>
                <key>spriteSourceSize</key>
                <string>{38,58}</string>
                <key>textureRect</key>
                <string>{{341,235},{38,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1_run_d_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,62}</string>
                <key>spriteSourceSize</key>
                <string>{36,62}</string>
                <key>textureRect</key>
                <string>{{819,235},{36,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1_run_r_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,62}</string>
                <key>spriteSourceSize</key>
                <string>{58,62}</string>
                <key>textureRect</key>
                <string>{{393,169},{58,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_run_r_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,58}</string>
                <key>spriteSourceSize</key>
                <string>{72,58}</string>
                <key>textureRect</key>
                <string>{{607,103},{72,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_run_r_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,66}</string>
                <key>spriteSourceSize</key>
                <string>{62,66}</string>
                <key>textureRect</key>
                <string>{{529,163},{62,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1_run_r_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,62}</string>
                <key>spriteSourceSize</key>
                <string>{68,62}</string>
                <key>textureRect</key>
                <string>{{845,109},{68,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_run_r_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,58}</string>
                <key>spriteSourceSize</key>
                <string>{72,58}</string>
                <key>textureRect</key>
                <string>{{681,111},{72,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_run_r_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,66}</string>
                <key>spriteSourceSize</key>
                <string>{82,66}</string>
                <key>textureRect</key>
                <string>{{273,177},{82,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1_run_u_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,66}</string>
                <key>spriteSourceSize</key>
                <string>{44,66}</string>
                <key>textureRect</key>
                <string>{{555,227},{44,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1_run_u_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,62}</string>
                <key>spriteSourceSize</key>
                <string>{44,62}</string>
                <key>textureRect</key>
                <string>{{623,223},{44,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1_run_u_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,66}</string>
                <key>spriteSourceSize</key>
                <string>{48,66}</string>
                <key>textureRect</key>
                <string>{{663,171},{48,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1_run_u_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,66}</string>
                <key>spriteSourceSize</key>
                <string>{48,66}</string>
                <key>textureRect</key>
                <string>{{731,173},{48,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1_run_u_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,62}</string>
                <key>spriteSourceSize</key>
                <string>{44,62}</string>
                <key>textureRect</key>
                <string>{{755,223},{44,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1_run_u_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,66}</string>
                <key>spriteSourceSize</key>
                <string>{44,66}</string>
                <key>textureRect</key>
                <string>{{687,223},{44,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1_stand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,80}</string>
                <key>spriteSourceSize</key>
                <string>{40,80}</string>
                <key>textureRect</key>
                <string>{{533,61},{40,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1_stand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,78}</string>
                <key>spriteSourceSize</key>
                <string>{40,78}</string>
                <key>textureRect</key>
                <string>{{137,195},{40,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_stand_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,76}</string>
                <key>spriteSourceSize</key>
                <string>{40,76}</string>
                <key>textureRect</key>
                <string>{{755,131},{40,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1_stand_d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,80}</string>
                <key>spriteSourceSize</key>
                <string>{40,80}</string>
                <key>textureRect</key>
                <string>{{533,61},{40,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1_stand_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,80}</string>
                <key>spriteSourceSize</key>
                <string>{36,80}</string>
                <key>textureRect</key>
                <string>{{763,93},{36,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1_stand_u.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,80}</string>
                <key>spriteSourceSize</key>
                <string>{40,80}</string>
                <key>textureRect</key>
                <string>{{615,61},{40,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1_start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,104}</string>
                <key>spriteSourceSize</key>
                <string>{40,104}</string>
                <key>textureRect</key>
                <string>{{321,31},{40,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_start0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,116}</string>
                <key>spriteSourceSize</key>
                <string>{24,116}</string>
                <key>textureRect</key>
                <string>{{341,1},{24,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1_start1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-16}</string>
                <key>spriteSize</key>
                <string>{42,98}</string>
                <key>spriteSourceSize</key>
                <string>{86,144}</string>
                <key>textureRect</key>
                <string>{{433,57},{42,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1_start2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-19}</string>
                <key>spriteSize</key>
                <string>{54,106}</string>
                <key>spriteSourceSize</key>
                <string>{86,144}</string>
                <key>textureRect</key>
                <string>{{459,1},{54,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1_start3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-19}</string>
                <key>spriteSize</key>
                <string>{66,106}</string>
                <key>spriteSourceSize</key>
                <string>{86,144}</string>
                <key>textureRect</key>
                <string>{{253,31},{66,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_start4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-5}</string>
                <key>spriteSize</key>
                <string>{78,134}</string>
                <key>spriteSourceSize</key>
                <string>{86,144}</string>
                <key>textureRect</key>
                <string>{{1,195},{78,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1_start5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,144}</string>
                <key>spriteSourceSize</key>
                <string>{86,144}</string>
                <key>textureRect</key>
                <string>{{165,31},{86,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_start6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-19}</string>
                <key>spriteSize</key>
                <string>{42,106}</string>
                <key>spriteSourceSize</key>
                <string>{86,144}</string>
                <key>textureRect</key>
                <string>{{863,1},{42,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>player.png</string>
            <key>size</key>
            <string>{999,274}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59a81975ed68002c872e7762a4ffcaa3:a20d6cc6cbb7bfecfec9eb50de86c25f:6f6c59c3c6b7e98e5fb22e47122cb74a$</string>
            <key>textureFileName</key>
            <string>player.png</string>
        </dict>
    </dict>
</plist>
