<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>efx_p1bl_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-6}</string>
                <key>spriteSize</key>
                <string>{150,104}</string>
                <key>spriteSourceSize</key>
                <string>{288,224}</string>
                <key>textureRect</key>
                <string>{{89,1483},{150,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>efx_p1bl_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{248,174}</string>
                <key>spriteSourceSize</key>
                <string>{288,224}</string>
                <key>textureRect</key>
                <string>{{1,1233},{248,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>efx_p1bl_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-10}</string>
                <key>spriteSize</key>
                <string>{266,190}</string>
                <key>spriteSourceSize</key>
                <string>{288,224}</string>
                <key>textureRect</key>
                <string>{{1,253},{266,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>efx_p1bl_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,8}</string>
                <key>spriteSize</key>
                <string>{274,180}</string>
                <key>spriteSourceSize</key>
                <string>{288,224}</string>
                <key>textureRect</key>
                <string>{{1,711},{274,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>efx_p1bl_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,8}</string>
                <key>spriteSize</key>
                <string>{244,178}</string>
                <key>spriteSourceSize</key>
                <string>{288,224}</string>
                <key>textureRect</key>
                <string>{{1,987},{244,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>efx_p1bl_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,8}</string>
                <key>spriteSize</key>
                <string>{250,192}</string>
                <key>spriteSourceSize</key>
                <string>{288,224}</string>
                <key>textureRect</key>
                <string>{{1,1},{250,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>efx_revive_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,188}</string>
                <key>spriteSourceSize</key>
                <string>{208,204}</string>
                <key>textureRect</key>
                <string>{{1,521},{188,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>efx_revive_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{64,40}</string>
                <key>spriteSourceSize</key>
                <string>{72,52}</string>
                <key>textureRect</key>
                <string>{{89,1635},{64,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>efx_revive_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{1,1653},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>efx_revive_l1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{86,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,192}</string>
                <key>textureRect</key>
                <string>{{1,1483},{86,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>efx_revive_l2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{4,254}</string>
                <key>spriteSourceSize</key>
                <string>{20,264}</string>
                <key>textureRect</key>
                <string>{{183,711},{4,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>revive.png</string>
            <key>size</key>
            <string>{194,1676}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7dd9e341a85794b536b1f0bf9212da1:945ae9883aa080e91969897e60e6da1c:084ae1ff72863363aab7453cf3297366$</string>
            <key>textureFileName</key>
            <string>revive.png</string>
        </dict>
    </dict>
</plist>
